.PopularBox {
	margin: 12px auto;
	width: 35%;
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.Notes {
	margin: auto;
	width: 50%;
	display: flex;
	flex-flow: column wrap;
}

.Notes div {
	margin-bottom: 12px;
}

.Title {
	font-size: 36px;
}

.Description {
	font-size: 12px;
	text-align: justify;
}