.PopularBox {
	margin: 12px auto;
	width: 40%;
	display: flex;
	flex-flow: row wrap;
}

.Image img {
	transition: ease-in-out 0.2s;
}

.Image img:hover {
	opacity: 0.9;
}

.Notes {
	background-color: white;
	padding: 16px;
	box-sizing: border-box;
	width: 55%;
	height: 278px;
	display: flex;
	flex-flow: column nowrap;
}

.Notes div {
	margin-bottom: 8px;
}

.Notes div > span {
	font-weight: 400;
}

.Title {
	font-size: 18px;
	font-weight: 600;
}

.Description {
	font-size: 12px;
	text-align: justify;
	max-height: 154px;
	overflow: hidden;
}