@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin-ext');
// variables
$grey: #38494E;
$light-green: #01D277;
$dark-green: #081C24;

// base settings
html {
	font-size: 20px;
}
.App {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}


// Navigation
.navigation {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: $dark-green;
	border-radius: 1.5em;

	display: flex;
	align-items: center;

	li:not(.people) {
		margin-right: 1.5em; 
	}

	li {
		position: relative;

		a {	
			text-decoration: none;
			color: #ffffff;

			&:hover {
				text-decoration: underline;
				cursor: pointer;

				.smallMenu {
					display: flex;
				}
			}
		}

		img {
			max-width: 70%;
			border-radius: 1em;
		}

		.smallMenu {
			margin: 0;
			padding: 0;
			list-style: none;

			display: none;
			position: absolute;
			top: 2.5em;
			font-size: 0.7em;

			li {
				a {
					text-decoration: none;
					color: lighten($grey, 30%);

					&:hover {
						text-decoration: underline;
						cursor: pointer;
					}
				}
			}		
		}
	}

	.people {
		margin-right: auto;
	}
}

// Searchbox
.searchbox {
	margin: 0.5em 1em;
	overflow: hidden;

	label {
		div {
			display: inline-block;
			margin: 0 1.4em;

			i {
				margin-right: 0.2em;
			}
		}

		input[type="text"] {
			width: 70%;
			padding: 0.5em;
			font-size: 1em;
			border: 1px solid #ccc;

			&:focus {
				border: 1px solid #555;
			}
		}
	}

	input[type="submit"] {
		padding: 0.5em 2em;
		font-size: 1em;
		border: 1px solid #ccc;
		background-color: $dark-green;
		color: #ffffff;

		&:hover {
			background-color: darken($dark-green, 10%);
		}
	}
}


// Media Queries
@media screen and (max-width: 1024px) {
	.navigation {
		.people {
			margin-right: 1.5em;
		}
	}
}

@media screen and (max-width: 760px) {
	html {
		font-size: 18px;
	}
}

@media screen and (max-width: 580px) {
	html {
		font-size: 16px;
	}
}

