@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin-ext");
html {
  font-size: 20px; }

.App {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #081C24;
  border-radius: 1.5em;
  display: flex;
  align-items: center; }
  .navigation li:not(.people) {
    margin-right: 1.5em; }
  .navigation li {
    position: relative; }
    .navigation li a {
      text-decoration: none;
      color: #ffffff; }
      .navigation li a:hover {
        text-decoration: underline;
        cursor: pointer; }
        .navigation li a:hover .smallMenu {
          display: flex; }
    .navigation li img {
      max-width: 70%;
      border-radius: 1em; }
    .navigation li .smallMenu {
      margin: 0;
      padding: 0;
      list-style: none;
      display: none;
      position: absolute;
      top: 2.5em;
      font-size: 0.7em; }
      .navigation li .smallMenu li a {
        text-decoration: none;
        color: #7d99a2; }
        .navigation li .smallMenu li a:hover {
          text-decoration: underline;
          cursor: pointer; }
  .navigation .people {
    margin-right: auto; }

.searchbox {
  margin: 0.5em 1em;
  overflow: hidden; }
  .searchbox label div {
    display: inline-block;
    margin: 0 1.4em; }
    .searchbox label div i {
      margin-right: 0.2em; }
  .searchbox label input[type="text"] {
    width: 70%;
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ccc; }
    .searchbox label input[type="text"]:focus {
      border: 1px solid #555; }
  .searchbox input[type="submit"] {
    padding: 0.5em 2em;
    font-size: 1em;
    border: 1px solid #ccc;
    background-color: #081C24;
    color: #ffffff; }
    .searchbox input[type="submit"]:hover {
      background-color: black; }

@media screen and (max-width: 1024px) {
  .navigation .people {
    margin-right: 1.5em; } }

@media screen and (max-width: 760px) {
  html {
    font-size: 18px; } }

@media screen and (max-width: 580px) {
  html {
    font-size: 16px; } }
