@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:300i,400,700&subset=latin-ext');

// VARIABLES
$grey: #38494E;
$light-green: #01D277;
$dark-green: #081C24;

// RESET
* {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

// BASE SETTINGS
html {
	font-size: 20px;
}

body {
	width: 100%;
	margin: 0;
}

.App {
	font-family: 'Roboto', sans-serif;
}

// Navigation
.navigation {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: $dark-green;
	border-radius: 1.5em;

	display: flex;
	align-items: center;

	li:not(.people) {
		margin-right: 1.5em; 
	}

	li {
		position: relative;

		a {	
			text-decoration: none;
			color: #ffffff;

			&:hover {
				text-decoration: underline;
				cursor: pointer;

				.smallMenu {
					display: flex;
				}
			}
		}

		img {
			max-width: 70%;
			border-radius: 1em;
		}

		.smallMenu {
			margin: 0;
			padding: 0;
			list-style: none;

			display: none;
			position: absolute;
			top: 2.5em;
			font-size: 0.7em;

			li {
				a {
					text-decoration: none;
					color: lighten($grey, 30%);

					&:hover {
						text-decoration: underline;
						cursor: pointer;
					}
				}
			}		
		}
	}

	.people {
		margin-right: auto;
	}
}

// Searchbox
.searchbox {
	margin: 1em;
	overflow: hidden;

	label {
		div {
			display: inline-block;
			margin: 0 1.4em;

			i {
				margin-right: 0.2em;
			}
		}

		input[type="text"] {
			width: 70%;
			padding: 0.5em;
			font-size: 1em;
			border: 1px solid #ccc;

			&:focus {
				border: 1px solid #555;
			}
		}
	}

	input[type="submit"] {
		padding: 0.5em 2em;
		font-size: 1em;
		border: 1px solid #ccc;
		background-color: $dark-green;
		color: #ffffff;

		&:hover {
			background-color: darken($dark-green, 10%);
		}
	}
}

// Loader
.loader {
	font-size: 5em;
}

// Display
.display {
	background-image: radial-gradient(ellipse farthest-corner at center, lighten($grey, 30%), darken($dark-green, 30%), lighten($dark-green, 30%), darken($grey, 30%));

	.display__header {
		margin: 0 1.5em;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;

		.display__header__title {
			h2 {
				color: #ffffff;
				text-shadow: 0 0 1em black;
				font-size: 1.5em;
			}
		}

		.display__header__links {
			a {
				text-shadow: 0 0 1em black;
				margin: 0 1em;
				font-size: 1em;
				text-decoration: none;
				color: $light-green;

				&:hover {
					text-decoration: underline;
					color: lighten($light-green, 8%);
				}
			}
		}
	}

	.display__container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
	}

	//PopularPeople container
	.display__container--people {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		align-items: center;
	}

	.display__footer {
		margin: 0 1.5em;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;

		button  {
			margin: .5em;
			padding: .5em;
			background-image: linear-gradient(to top right, $light-green 60%, darken($light-green, 50%) );
			border-radius: 0 2em 2em 0;
			border: transparent;

			&:hover {
				cursor: pointer;
				box-shadow: 0 0 1em .3em darken($light-green, 20%);
			}
		}

		div {
			margin: .5em;
			text-shadow: .1em .1em .2em #ffffff, .1em -.1em .2em #ffffff, -.1em .1em .2em #ffffff, -.1em -.1em .2em #ffffff,;
		}
	}
}

// Box
.box {
	margin: 1em;
	width: 45%;
	display: flex;
	background-color: $light-green;
	box-sizing: border-box;
	border-radius: 0 2em 2em 0; 
	box-shadow: 0 0 .5em .1em $light-green;

	transition: .2s ease-in-out;

	&:hover {
		box-shadow: 0 0 3em .8em darken($light-green, 20%);
	}

	a {
		cursor: pointer;
		color: black;
		text-decoration: none;
	}


	.box__poster {
		width: 40%;
		cursor: pointer;
		opacity: 0.95;

		transition: .2s ease-in-out;

		&:hover {
			box-shadow: 0 0 1em #aaaaaa;
			opacity: 1;
		}
	}

	.box__details {
		padding-left: .5em;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		background-image: linear-gradient(to top right, $light-green 60%, darken($light-green, 50%) );
		border-radius: 0 2em 2em 0;

		.box__details__header {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-around;
			align-items: center;

			font-weight: 300;
			font-style: italic;

			.box-avg {
				font-weight: bold;
			}

			.box-title {
				flex: 0 1 80%;
				cursor: pointer;

				h3 {
					padding: .2em 0 0 0;
					font-size: 1em;
					text-shadow: 0 0 .5em #ffffff;
					transition: .2s ease-in-out; 

					&:hover {
						text-shadow: 0 0 .2em #ffffff,
						0 0 .3em #cccccc;
					}
				}

				h5 {
					padding: 0 0 .2em 0;
					letter-spacing: .1em;
				}
			}
		}

		.box__details__main {
			font-size: .7em;
			padding: .5em 0;
			flex: 0 1 30%;
			font-family: 'Lato', sans-serif;

			&::first-letter {
				text-shadow: .1em .1em .1em darken($grey, 50%);
				font-size: 1.2em;
				padding-right: .1em;
			}
		}

		.box-btn {
			padding: .6em 0;
			width: 50%;
			margin-bottom: 0.3em;
			cursor: pointer;

			letter-spacing: .1em;
			transition: .2s ease;
			border-radius: 1em;
			border: .1em dotted $light-green;
			box-shadow: .11em .12em .6em darken(#ffffff, 10%),
			-.12em .11em .6em darken(#ffffff, 10%),
			.11em -.11em .6em darken(#ffffff, 10%),
			-.12em -.12em .6em darken(#ffffff, 10%);

			&:hover {
				border: .1em solid darken($light-green, 30%);
				background-color: lighten($grey, 50%);
				box-shadow: .11em .12em .6em darken($light-green, 20%),
			-.12em .11em .6em darken($light-green, 20%),
			.11em -.11em .6em darken($light-green, 20%),
			-.12em -.12em .6em darken($light-green, 20%);
			}
		}
	}
}

// PeopleBox
.peopleBox {
	display: flex;
	flex-flow: column nowrap;

	padding: 1em;

	div {
		max-width: 300px;
		color: #ffffff;
		margin: 0.5em 0 0 0;

		h3 {

		}

		p {
			font-size: .9em;
		}
	}
}

//Filter
.filter {
	color: #ffffff;
	margin: .7em 0;
	display: flex;
	justify-content: center;
	align-items: center;

	label {
		margin: 0 .7em;

		select {
			margin-left: .5em;
			padding: .5em;
			border-radius: 1em;
		}
	}
}


// Media Queries
@media screen and (max-width: 1024px) {
	.navigation {
		.people {
			margin-right: 1.5em;
		}
	}
}

@media screen and (max-width: 760px) {
	html {
		font-size: 18px;
	}
}

@media screen and (max-width: 580px) {
	html {
		font-size: 16px;
	}
}

